.env
.env.*
!.env.example

out/
.pytest_cache/
htmlcov/
.coverage
.coverage.*

__pycache__/
*.py[cod]
*$py.class

.mypy_cache/
.ruff_cache/
.pyre/

.venv/
venv/
env/

.idea/
.vscode/

.DS_Store
Thumbs.db
