*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #f3f9fa;
  color: #5a5d72;
}

#app {
  height: 100%;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  background: none;
}

input {
  font-family: 'Montserrat', sans-serif;
}
